<!-- <mat-card class="day-card">
  <mat-card-header>
    <mat-card-title>
      <mat-checkbox>
        Понедельник
      </mat-checkbox>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-select placeholder="Часы" class="time-picker">
      <mat-option value="option1">8</mat-option>
      <mat-option value="option2" disabled>9</mat-option>
      <mat-option value="option3">10</mat-option>
    </mat-select>
    <mat-select placeholder="Минуты" class="time-picker">
      <mat-option value="option1">0</mat-option>
      <mat-option value="option2">30</mat-option>
    </mat-select>
  </mat-card-content>
</mat-card> -->
<app-graphic
  (createTrade)="trade($event)"
>

</app-graphic>