.graphics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
    width: 100%;
    align-content: stretch;
}

.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .sidenav {
        width: 300px;

        .trading-form {

            .selector-group {
                width: 100%;
                margin: 0;
                padding: 0;

                mat-button-toggle {
                    width: 100%;
                }
            }
        }
    }
}